<!-- Default footer-->
<footer class="section-relative section-55 page-footer bg-primary context-dark">
  <div class="shell-wide">
    <div class="inset-xl-left-30">
      <div class="range range-sm-center">
        <div class="cell-sm-8 cell-md-12">
          <div class="range range-md-justify range-md-middle">
            <div class="cell-md-4 cell-md-push-1 text-md-left">
              <!-- Footer brand-->
              <div class="footer-brand reveal-inline-block"><a href="/"><%= cl_image_tag "d595b7_53d406206ac641b8853e03783c99a3c5_mv2_eut5ob.png", :height=>101, :crop=>"scale" , class:'img-responsive"' %></a></div>
            </div>
            <div class="cell-md-4 offset-top-55 offset-md-top-0 cell-md-push-3 text-md-right">
                    <ul class="list-inline">
                      <li><a href="https://www.facebook.com/handident/" target="_blank" class="icon fa fa-facebook icon-xxs icon-circle icon-white"></a></li>
                      <li><a href="https://twitter.com/handidentoff" target="_blank" class="icon fa fa-twitter icon-xxs icon-circle icon-white"></a></li>
                      <li><a href="https://www.youtube.com/channel/UCgVsiGM8NqG5VBQ9j_ZBjTQ" target="_blank" class="icon fa fa-google icon-xxs icon-circle icon-white"></a></li>
                    </ul>
            </div>
            <div class="cell-md-4 offset-top-55 offset-md-top-0 cell-md-push-2" style="text-align: center">
              <p class="text-white-08">10 rue du Petit Boulevard BP 20127</br>59653 Villeneuve d'Ascq Cedex</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Global Mailform Output-->
<div id="form-output-global" class="snackbars"></div>
<!-- PhotoSwipe Gallery-->
<div tabindex="-1" role="dialog" aria-hidden="true" class="pswp">
  <div class="pswp__bg"></div>
  <div class="pswp__scroll-wrap">
    <div class="pswp__container">
      <div class="pswp__item"></div>
      <div class="pswp__item"></div>
      <div class="pswp__item"></div>
    </div>
    <div class="pswp__ui pswp__ui--hidden">
      <div class="pswp__top-bar">
        <div class="pswp__counter"></div>
        <button title="Close (Esc)" class="pswp__button pswp__button--close"></button>
        <button title="Share" class="pswp__button pswp__button--share"></button>
        <button title="Toggle fullscreen" class="pswp__button pswp__button--fs"></button>
        <button title="Zoom in/out" class="pswp__button pswp__button--zoom"></button>
        <div class="pswp__preloader">
          <div class="pswp__preloader__icn">
            <div class="pswp__preloader__cut">
              <div class="pswp__preloader__donut"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
        <div class="pswp__share-tooltip"></div>
      </div>
      <button title="Previous (arrow left)" class="pswp__button pswp__button--arrow--left"></button>
      <button title="Next (arrow right)" class="pswp__button pswp__button--arrow--right"></button>
      <div class="pswp__caption">
        <div class="pswp__caption__center"></div>
      </div>
    </div>
  </div>
</div>

