 <!-- Page-->
<div class="page text-center">
  <!-- Page Contents-->
  <main class="page-content">
    <%= render 'shared/messagesphotos'%>
  </main>
  <a><%= link_to 'Retour', profile_path(current_user.profile), class: 'btn btn-xs btn-rect btn-primary', style:"margin-top: 20px;"%></a>
</div>

