<!-- Page-->
<div class="page text-center">
  <!-- faire un don-->
  <!-- entreprise partenaires-->
  <section class="section-98 section-sm-110 text-left">
    <div class="shell">
      <div class="range range-xs-center">
        <div class="cell-xs-10 cell-md-8">
          <h2>Entreprises, affirmez vos valeurs, soutenez-nous!</h2>
          <hr class="divider divider-lg bg-secondary hr-left-0 hr-sm-left-2">
          <div class="offset-top-41 offset-lg-top-60">
            <p>Votre entreprise place comme nous l’humain au cœur de ses préoccupations et vous souhaitez être acteur d’une société inclusive, alors soutenez HANDIDENT. L’association mène des actions concrètes en faveur de la santé buccodentaire des personnes en situation de handicap de tous les âges et toutes déficiences, par le dépistage, la formation et l’offre de soins spécifiques et adaptés.</p>
            <p>​L’activité est lisible et mesurable depuis plus de 10 ans. HANDIDENT a reçu un avis favorable de la Direction Générale des Finances Publiques pour se déclarer organismes d’intérêt général. Pour soutenir nos actions vous pouvez :</p>
            <h3>Faire un don</h3>
            <hr class="text-subline">
            <p>L’association HANDIDENT s’est donné pour objectif de faciliter l’accès aux soins et à la prévention buccodentaires par la prévention, la formation ainsi que par la création de plusieurs Unités de Santé Orale Spécifique sur la région des HAUTS-De-France. Chaque personne quels que soient son handicap, son âge et sa condition sociale, doit pouvoir accéder et bénéficier de soins buccodentaires adaptés, à proximité de son lieu de résidence.</p>
            <p>Lorsque vous faites un don de 1 000 € vous avez en réalité un coût 400 € après la déduction fiscale de 60%.</p>
            <div class="offset-top-30">
              <%= link_to 'Je fais un don', new_profile_donation_path(current_user.id), class:"btn-fullwidth btn btn-primary btn-ellipse", style:"margin-top:20px; margin-bottom:20px" %>
            </div>
            <h3>Défiscalisation, le saviez-vous?</h3>
            <hr class="text-subline">
            <p>La loi du 1er Août 2003 sur le mécénat vous permet de :</p>
            <ul>
              <li>Déduire 60 % du montant du don de votre impôt sur les sociétés dans la limite de 0,5 pour mille du chiffre d'affaires de l'entreprise</li>
              <li>Etendre sur 5 ans l'avantage fiscal résultant de son don au-delà du plafond des 5 ‰ du chiffre d’affaires.</li>
            </ul>
            <p>L’association HANDIDENT vous fournit un justificatif (reçu fiscal) vous permettant de faire valoir ces droits.</p>
            <h3>Mécénat de compétences</h3>
            <hr class="text-subline">
            <p>Le mécénat de compétences consiste à mettre à disposition d’une association, des salariés volontaires sur leur temps de travail. Ces actions valorisent le salarié qui souhaite se sentir utile pour la société. Il développe dès lors de nouvelles compétences qu’il pourra transmettre au sein.</p>
            <hr class="text-subline">
            <p>Vous pouvez adresser vos dons par chèque libellé à l’ordre de :</p>
            <p>Association HANDIDENT</p>
            <p>10 rue du Petit Boulevard</p>
            <p>BP 20127</p>
            <p>59653 Villeneuve d’Ascq Cedex</p>
          </div>
        </div>
        <div class="cell-xs-10 cell-md-4 offset-top-41 offset-md-top-0">
          <h3>Devenez partenaire</h3>
          <hr class="text-subline">
          <div class="offset-top-30">
            <%= link_to 'Je deviens partenaire', contacts_path, class: 'btn-fullwidth btn btn-primary btn-ellipse', style:"margin-top:20px"%>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
