<h1>Vous avez un nouveau message d' Handipulse</h1>
<p><%= Profile.find(@message.profile_id).first_name %> <%= Profile.find(@message.profile_id).last_name %> vous a envoyé un message</p>
<p>Rendez vous dans votre page de profil afin de le visualiser .</p>
<p>L'équipe Handipulse .</p>
