<p>Hello <%= @resource.email %>!</p>

<p>Vous avez demandé de changer de mot de passe. Faites le à partir du lien ci dessous.</p>

<p><%= link_to 'Changer mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vous n'en avez pas fait la demande, ignorez ce mail et contactez nous.</p>
<p>Le mot de passe ne changera pas si vous ne cliquez pas sur le lien.</p>
<p>L'équipe Handident.</p>

